
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: hidden;
}

.navbar{
    margin-top: 40px;
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
}

.list{
    display: flex;
    gap: 7rem;
    margin-top: 10px;
}


.sp-list{
    display: flex;
    gap: 5.9rem;
}

.m2{
    display: flex;
    gap: 7.65rem;
}

.eeb{
    display: flex;
    gap: 7.3rem;
}


.container{
    width:100% ;
    height: 100%;
   
}

.semester-2{
    /* height: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;;
}

.sem-container{
    height: 80%;
    width: 50%;
    margin: 0 auto;
    margin-top: 60px;
    background-color:cornflowerblue;
}

.Branch-CSE-sem2{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-CCE-sem2{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-ECE-sem2{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-MME-sem2{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}

/* .active-CSE{
    opacity: 1;
    transition: 0.5s;
} */

.Branch-CSE-sem2.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CCE-sem2.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-ECE-sem2.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-MME-sem2.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branches{
    position: absolute;
}