

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper{
    width: 100vw;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    background: url() no-repeat center center/cover;
    
}

.navbar{
    /* margin-top: 40px; */
    display: flex;
    gap: 5rem;
    justify-content: space-evenly;
}

.list{
    display: flex;
    gap: 7rem;
    margin-top: 10px;
    /* z-index: 100; */
}


.sp-list{
    display: flex;
    gap: 5.9rem;
}




.m2{
    display: flex;
    gap: 7.65rem;
}

.eeb{
    display: flex;
    gap: 7.3rem;
}

.container{
    width:100% ;
    height: 100%;
    position: relative;
    /* background-image: url(./assets/5040007.jpg); */
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    

}

.Branches{
    position: absolute;
}


.sem-container{
    height: 80%;
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    /* background-color:cornflowerblue; */
    /* position: absolute; */
    background: rgba(255, 255, 255, 0.068);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(20, 16, 16, 0.25);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    background-repeat: no-repeat;

}



.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5%;
    position: absolute;
    width: 100%;
    bottom: 0;
}


.calbtn{
    /* display: flex; */
    /* flex-direction: column; */
    /* opacity: 0; */
    /* position: absolute; */
    /* margin: 0 auto; */
    /* bottom: 20%;
    left:46%;  */
}
.calbtn.active{
    opacity: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* position: relative; */
}



.semester-1{
    /* height: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;;
}
.semester-2{
    /* height: 80%; */
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;;
}
.semester-3{
    /* height: 80%; */
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;;
}
.semester-4{
    /* height: 80%; */
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;;
}
.semester-5{
    /* height: 80%; */
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;;
}
.semester-6{
    /* height: 80%; */
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;;
}
.semester-7{
    /* height: 80%; */
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;;
}
.semester-8{
    /* height: 80%; */
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;;
}

.Branch-CSE-sem1{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-CCE-sem1{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-ECE-sem1{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-MME-sem1{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}


.Branch-CSE-sem1.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CCE-sem1.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-ECE-sem1.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-MME-sem1.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CSE-sem2{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}

.Branch-CCE-sem2{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}

.Branch-ECE-sem2{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}

.Branch-MME-sem2{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}


.Branch-CSE-sem2.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 100;
}

.Branch-CCE-sem2.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 100;

}

.Branch-ECE-sem2.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 100;

}

.Branch-MME-sem2.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 100;

}

.Branch-CSE-sem3{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-CCE-sem3{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-ECE-sem3{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-MME-sem3{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}


.Branch-CSE-sem3.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CCE-sem3.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-ECE-sem3.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-MME-sem3.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-CSE-sem4{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-CCE-sem4{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-ECE-sem4{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-MME-sem4{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}


.Branch-CSE-sem4.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CCE-sem4.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-ECE-sem4.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-MME-sem4.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-CSE-sem5{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-CCE-sem5{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-ECE-sem5{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-MME-sem5{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}


.Branch-CSE-sem5.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CCE-sem5.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-ECE-sem5.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-MME-sem5.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CSE-sem6{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-CCE-sem6{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-ECE-sem6{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-MME-sem6{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}


.Branch-CSE-sem6.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CCE-sem6.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-ECE-sem6.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-MME-sem6.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.Branch-CSE-sem7{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-CCE-sem7{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-ECE-sem7{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-MME-sem7{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}


.Branch-CSE-sem7.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CCE-sem7.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-ECE-sem7.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-MME-sem7.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.Branch-CSE-sem8{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-CCE-sem8{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-ECE-sem8{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}
.Branch-MME-sem8{
    display: flex;
    flex-direction: column;
    /* opacity: 0; */
    scale: 0;
}


.Branch-CSE-sem8.active{
    /* opacity: 1; */
    scale: 1;
    /* transition: 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) */
    transition: 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.Branch-CCE-sem8.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-ECE-sem8.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.Branch-MME-sem8.active{
    /* opacity: 1; */
    scale: 1;
    transition: 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}